@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&family=Poppins:wght@400;500;600;700&display=swap');



body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.fondo{
    position: fixed;
    z-index: -1;
    width: 100%;
    height:90rem;
    }

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: rgb(106, 186, 252);
}


header .logo{
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  font-weight: bolder;
  text-decoration: none;
}

header .logo i{
  color: rgb(255, 255, 255);
}


.navbar ul{
  list-style: none;
}

header .navbar ul li{
  float: left;
  position: relative;
}

header .navbar ul li a{ 
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all 0.2s ease;
}

header .navbar ul li a:hover{
  background-color: rgba(247, 249, 247, 0.1);
}

header .navbar ul li ul{
  position: absolute;

  width: 300px;
  background-color: rgba(247, 249, 247, 0.1);
  display: none;
}

header .navbar ul li ul li a{
  font-size: 14px;
  text-transform: capitalize;
}

header .navbar ul li ul li ul{
  position: absolute;
  top: 0;
  right: 230px;
}

header .navbar ul li ul li{
  width: 100%;
}

header .navbar ul li:hover > ul{
  display: initial;
}

#toggle,
header label{
  display: none;
  cursor: pointer;
}

.hotel{
  width: 45px;
  height: 35px;
}

header .icons a{
    cursor: pointer;
    margin-left: 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    border-radius: 50%;
    text-decoration: none;
}

header .icons :hover{
    color: var(--white);
    background-color: rgba(247, 249, 247, 0.1);
    transform: scale(1.2);
}

section{
    padding: 2rem 9%;
}

@media (max-width:1250px){
  header label{
    display: initial;
  }

  header{
    padding: 20px 10%;
  }

  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  header .navbar ul li{
    width: 100%;
  }

  header .navbar ul li a{
    padding: 8px 30px 8px 10%;
  }

  header .navbar ul li ul{
    position: relative;
    width: 100%;
    left: 0;
  }

  header .navbar ul li ul li{
    background-color: rgba(81, 81, 81, 0.1);
  }

  header .navbar ul li ul li ul{
    position: relative;
    width: 100%;
    left: 0;
  }

  #toggle:checked ~ .navbar{
    display: block;
  }


}

.home .bienvenida{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--white);
}

.home .bienvenida .intro {
  text-align: center;
}

.home .bienvenida .intro h1 {
  font-size: 100px;
}

.home .bienvenida .intro h2 {
  margin-top: -50px;
  font-size: 24px;
}

@media screen and (max-width: 950px) {
  .home .bienvenida .intro h1 {
    font-size: 68px;
  }
  
  .home .bienvenida .intro h2 {
    margin-top: 2px;
    font-size: 20px;
  }
}


.footerclass .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
  gap: 0.5rem;
}

.footerclass .box-container h3{
  padding: 5rem 0;
  font-size: 1.4rem;
  color: white;
  margin-bottom: -60px;
}

.footerclass .box-container .box a{
  display: block;
  padding: 0.4rem 0;
  font-size: 0.9rem;
  color: white;
}

.footerclass .box-container .box a:hover{
  color: var(--white);
  text-decoration: underline;
}

.footerclass .creditos{
  text-align: center;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: white;
  padding: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footerclass .creditos span{
  color: var(--white);
}

.table{
  width: 100%;
  overflow: hidden;
  display: flex;
}


.imgfb {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.imgfb:hover {
  filter: none;
}

.imgig {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.imgig:hover {
  filter: none;
}

.imgtw {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.imgtw:hover {
  filter: none;
}

.background{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}


.services{
  position: relative;
  top: 400px;
}

.informacio1{
  width: 100%;
  height: 400px;
}

.textleft{
text-align: center;
position: relative;
top: 35%;
left: 5%;
width: 600px;
}

.imgright{

  position: relative;
  float: right;
  right: 5%;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  bottom: 10%;
}

.informacio2{
  width: 100%;
  height: 400px;
}

.textright{
text-align: center;
position: relative;
top: 35%;
left: 50%;
width: 600px;
}

.imgleft{
  position: relative;
  float: left;
  bottom: 10%;
  left: 5%;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.informacio3{
  width: 100%;
  height: 400px;
}

.textleft{
text-align: center;
position: relative;
top: 35%;
left: 5%;
width: 600px;
}

.imgright{

  position: relative;
  float: right;
  right: 5%;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  bottom: 10%;
}

.services h1{
  font-size: 40px;
}

.footer{
  background: rgb(106, 186, 252);
  bottom: -480px;
  position: relative;
  font-size: 2rem;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
  gap: 0.5rem;
  padding: 1.5rem;
  padding-top: 2.8rem;
  margin-top: 1.5rem;
}

.footer .box-container h3{
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--white);
}


.footer .box-container .box a{
  display: block;
  padding: 0.4rem 0;
  font-size: 0.9rem;
  color: var(--light-color);
  text-decoration: none;
}

.footer .box-container .box a:hover{
  color: var(--white);
  text-decoration: underline;
}

.footer .creditos{
  text-align: center;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: var(--white);
  padding: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .creditos span{
  color: var(--white);
}

.table .fa-facebook,
.table  .fa-instagram,
.table .fa-twitter{
  font-size: 2.2rem;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover{
  transform: scale(1.4);
}




section{
    padding: 2rem 9%;
}


.home .home-slider .slide{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 9rem;
}


.home .home-slider .slide .content{
    flex: 1 1 45rem;

}

.home .home-slider .slide .imagen img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:black;
    font-size: 3rem;
}

.home .home-slider .slide .content p{
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}


.info a{
	color: #fff;
	text-decoration: none;
	background: #3088e0;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}